---
layout: default
title: HotSwitch - Elegant and rapid window switcher
---

{% capture chunk1 %}{% include_relative _index.html/chunk1.md %}{% endcapture %}
{% capture chunk2 %}{% include_relative _index.html/chunk2.md %}{% endcapture %}
{% capture chunk3 %}{% include_relative _index.html/chunk3.md %}{% endcapture %}
{% capture chunk4 %}{% include_relative _index.html/chunk4.md %}{% endcapture %}
{% capture chunk5 %}{% include_relative _index.html/chunk5.md %}{% endcapture %}
{% capture chunk6 %}{% include_relative _index.html/chunk6.md %}{% endcapture %}

<div class="chunk">
  {{ chunk1 | markdownify }}
</div>

<div class="chunk">
  <div class="column left">
    {{ chunk2 | markdownify }}
  </div>
  <div class="column right image">
    <img src="{{ "/images/two.png" | prepend: site.baseurl }}">
  </div>
</div>

<div class="chunk">
  <div class="column left image">
    <img src="{{ "/images/eye.png" | prepend: site.baseurl }}">
  </div>
  <div class="column right">
    {{ chunk3 | markdownify }}
  </div>
</div>

<div class="chunk">
  {{ chunk4 | markdownify }}
</div>

<div class="chunk">
  {{ chunk5 | markdownify }}
</div>

<div class="chunk">
  {{ chunk6 | markdownify }}
</div>

